body {
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.App {
  text-align: center;
}

.jumbotron{
  width:100%;
  text-align: center;
  background-color: rgb(245, 239, 239);
  height: 10em;
  margin-top: -25px;
}
.jumbotron h1 {
  padding-top: 1em;
  color: #1faae6;
  text-shadow: 2px 2px #282c34
}

.gameTile {
  display: inline-block;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 160px;
  height: 160px;
  background-image: linear-gradient( 135deg, white, #1faae6); 
}
.gameTile img{
  display:inline-block;
  height: 200px;
  width: 200px;
}